.para-2{
    width: 50%;
    position: relative;
    top: 20px;
    /* left: 200px; */
    left: 20%;
    border: 2px solid red;
}
h2{
    background-color: aqua;
    position: absolute;
    top: 60px;
    left: 160px;
    z-index: -5;
}
h3{
    background-color: aqua;
    position: fixed;
    top: 566px;
    left: 1014px;
    z-index: -5;
}
p{
    background-color: #f0f8ff
}
a{
    position: sticky;
    top: 0px;
    left: 60px;
}